/*estilos generales*/
body {
	margin: 1000;
	padding: 0;
	font-family: Helvetica, Arial, sans-seri;
	color: #c32c77;
   <!-- background: #f2f2f2;-->
   	font-size: 1em;
	line-height: 1.5em;
}

{
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

/*estilos de cavecera*/

#main-header {
	background: #167be0;
	color: white;
	height: 80px;
}
	#main-header a {
		color: yellowgreen;
	}
/*
 * Logo
 */
#logo-header {
	/*float: left;*/
    float:right;
	padding: 10px 0 0 10px;
	text-decoration: none;
}
/*#logo-header:hover {
		color: #121be6;
	}*/
	/*
	#logo-header .site-name {
        display: block;
		font-weight: 700;
		font-size: 1.2em;
	} */
#logo-header .site-desc {
		/*display: block;*/
		font-weight: 300;
		font-size: 1 em;
		color: #9ae016;
        display: inline-block;
        padding:  8px;
	}
/*navegación*/

nav {
	float: left;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}

		nav ul li {
			display: inline-block;
			line-height: 80px;
		}

			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}

				nav ul li a:hover {
					background: #a60b0b;
				}
/*estilos de contenido*/

#main-content {
	width: 100%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

	#main-content header,
	#main-content .content {
		padding: 20px;
	}
/*estilo de pie de pagina*/

#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}

	#main-footer a {
		color: white;
	}

#main-header {
	background: #895605;
	color: white;
	height: 80px;

	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
/*relleno superior*/

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: rgba(32, 228, 244, 0.81);


	font-size: 1em;
	line-height: 1.5em;

	padding-top: 200px; /* Relleno superior igual a la altura de la cabecera*/
}
